*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   
}
.container{
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid red; */
}

/* NAV */

nav{
    display: grid;
    margin-top: 2%;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 3%;
    align-items: center;
    position: relative;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 45px;
    justify-content: start;
    font-family: Raleway;
}
.NavLink{
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.NavLink:hover{
    color: #6E9C9F;
}
.nav-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HERO */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 747px;
    /* border: 1px solid green; */
   
}
.hero-text{
    margin-top: 186px;
    /* border: 1px solid red; */
    width: 563px;
}
.hero-text h1{
    font-size: 55px;
    font-weight: 500;
    line-height: 60.5px;
    letter-spacing: 0.02em;
    margin-bottom: 45px;
}
.hero-text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    width: 385px;
}
.img-btn{
    margin-top: 52px;
    display: flex;
    
}
.img-btn button{
    width: 243px;
    background-color: #6E9C9F;
    border: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.61px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.img-btn button:hover{
    background-color:#ffffff;
    color: #6E9C9F;
    border: 1px solid #6E9C9F;
}
.hero-img{
    background-color:  #F1EADC;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    width: 40%;
    padding-top: 120px;
    /* height: 808px; */
}
.hero-inner-img{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
